<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="somLite Toolkit (x86)" Language="1033" Version="1.0.0.0" Manufacturer="rhubarb-geek-nz" UpgradeCode="535DD93D-ABC6-424A-BB4C-E7B6382222D2">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" Description="somLite Toolkit" Comments="object toolkit" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{535DD93D-ABC6-424A-BB4C-E7B6382222D2}">
      <UpgradeVersion Maximum="1.0.0.0" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
    <Condition Message="This application is only supported on Windows 7 or higher."><![CDATA[Installed OR (VersionNT > 600)]]></Condition>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYDIR" Name="rhubarb-geek-nz">
          <Directory Id="INSTALLDIR" Name="somLite">
            <Directory Id="INSTALLDIR1" Name="bin" />
            <Directory Id="INSTALLDIR2" Name="lib" />
            <Directory Id="INSTALLDIR3" Name="include" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="som.dll" Guid="*" Directory="INSTALLDIR1" Win64="no" >
        <File Id="som.dll" KeyPath="yes" />
      </Component>
      <Component Id="som.lib" Guid="*" Directory="INSTALLDIR2" Win64="no" >
        <File Id="somlite.lib" KeyPath="yes" />
      </Component>
      <Component Id="somobj.idl" Guid="*" Directory="INSTALLDIR3" Win64="no" >
        <File Id="somobj.idl" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
